.header {
    width: 100vw;
    height: 3rem;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0px 0px 4px 1px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
    z-index: 10;
    .logo {
        font-size: 16px;
        line-height: 3rem;
        text-align: center;
    }
    .menu {
        line-height: 3rem;
    }
}