
.detail-content {
    font-size: 0.95rem;
    line-height: 1.8rem;
    .detail-title {

        font-size: 1.6rem;
        text-align: center;
        font-weight: 400;
    }
    
    .detail-props {
        text-align: center;
        .detail-date {
            display: inline-block;
            .date {
                display: inline-block;
                margin: 0 .3rem;
            }
        }
        
        .invisible {
            // visibility: hidden;
            display: none
        }
        
        .detail-tags {
            display: inline-block;
        }
    }
}







