.usefull {
    width: 100%;

    .usefull-wrap {
        
        
        .usefull-content {
            border: 1px solid #cdcdcd;
            min-height: 100vh;
            border-radius: 1rem;
            padding: .5rem;
            background: #fff;
        }    
    }
    
}